<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">Stogram - Ошибки</title>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo">Отчеты об ошибках</p>
                    </div>
                </div>
            </div>

            <div class="post" th:each="bug: ${bugs}" th:id="'bugs-' + ${bug.bugId}">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img th:src="@{'/resources/img/users/' + ${bug.userId.username} + '/profile/' + ${bug.userId.photo}}" alt=""></div>
                        <p th:text="${bug.userId.username}" class="username"></p>
                    </div>
                </div>
                <div class="post-content">
                    <span class="description-normal" th:text="${bug.bugText}"></span>
                    <p class="post-time" th:text="${#temporals.format(bug.createdAt, 'dd.MM.yyyy')} + ' г.'"></p>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>
    </div>

</section>

</body>
</html>