<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments.html :: header-login">
        <title id="pageTitle">Stogram - Регистрация</title>
    </head>

    <!-- Navigation -->
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>
        <div class="form-signin" >
            <h1 class="h3 mb-3 font-weight-normal">Ошибка сохранения. Приложите файл, либо файл имеет слишком длинное имя</h1>

            <p th:insert="fragments.html :: footer-login"></p>
        </div>

    </body>
</html>