<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments.html :: header-login">
    <title id="pageTitle">Stogram - Пользователь существует</title>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main-post">
    <div class="wrapper-posts">
        <div class="left-col">
            <br><br><br><br>
            <h1 class="h3 mb-3 font-weight-normal text-center">Пользователь существует. Попробуйте другое имя пользователя</h1>
            <div class="signup">
                <p class="text-center">
                    <a th:href="@{/register}">Вернуться на страницу регистрации</a>
                </p>
            </div>
            <br><br><br><br>
            <p th:insert="fragments.html :: footer-login"></p>
        </div>
    </div>
</section>

</body>
</html>