<style>
    .context-menu {
        border: 1px solid #000000;
        background: #ffffff;
        width: 30px;
        height: 30px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        margin: 2px;
    }
    .context-menu-open {
        display: none;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
        background-color: white;
        border-radius: 4px;
        padding: 4px;
    }
    .context-menu-open ul {
        padding: 0;
        margin: 0;
    }
    .context-menu-open ul li {
        cursor: pointer;
        list-style: none;
        padding: 10px 12px;
        margin: 0;
        border-bottom: 1px solid #BFE2FF;
    }
    .context-menu-open ul li:last-child {
        border-bottom: 1px solid transparent;
    }
    .context-menu-open ul li:hover {
        background-color: #BFE2FF;
    }
</style>

<div class="context-menu">
    ...
</div>
<div class="context-menu-open">
    <ul>
        <li>Изменить</li>
        <li>Удалить</li>
    </ul>
</div>



<script>
    let contextMenu = document.querySelectorAll('.context-menu');
    let contextMenuOpen = document.querySelector('.context-menu-open');
    for (let i = 0; i < contextMenu.length; i++){
        contextMenu[i].addEventListener('click', function(e) {
            e.preventDefault();
            contextMenuOpen.style.left = e.clientX + 'px';
            contextMenuOpen.style.top = e.clientY + 'px';
            contextMenuOpen.style.display = 'block';
        });
    }
    window.addEventListener('wheel', function() {
        contextMenuOpen.style.display = 'none';
    });

    let contextMenu = $('.context-menu-open');
    $('.context-menu').on('click', function (e) {
        e.preventDefault();
        contextMenu.css({top: e.clientY + 'px', left: e.clientX + 'px' });
        contextMenu.show();
    });
    $(document).on('wheel', function () {
        contextMenu.hide();
    });

</script>
