<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="fragments.html :: header">
        <title id="pageTitle">Stogram - Новый пост</title>
    </head>

    <!-- Navigation -->
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

        <!-- Page Content -->
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-8">
                    <form method="POST" th:action="@{/post/new}" enctype="multipart/form-data">
                        <div class="form-group">
                            <h1 class="mt-4">
                                <input name="title" class="form-control form-control-lg mt-4" type="text" placeholder="Введите заголовок"/>
                            </h1>
                            <br>
                            <textarea name="content" class="form-control" rows="9" placeholder="Введите текст поста"></textarea>
                            <br>
                            <input name="tags" class="form-control" type="text" placeholder="Введите теги"/>
                        </div>
                        <br>
                            Выберите файл для загрузки: <input type="file" name="file">

                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Опубликовать пост</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer th:insert="fragments.html :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
</html>