<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="fragments.html :: header">
        <title id="pageTitle">Stogram - Главная</title>
    </head>

    <!-- Navigation -->
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>



        <!-- Page Content -->
        <main role="main">



            <section class="text-center">


                <div sec:authorize="isAuthenticated()" class="info-main">
                    <div class="user-main">
                        <div class="profile-pic-main"><img th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt=""></div>
                        <div>
                            <p class="username-main" th:text="${user}"></p>
                            <p class="description-main" th:text="${countPosts} + ' публикаций   0 подписчиков   0 подписок'"></p>
                        </div>
                    </div>
                    <a th:href="@{/profile_edit/{user}(user = ${user})}" class="btn btn-outline-dark">Редактировать профиль</a>


                </div>

            </section>



            <div class="row">
                <div class="col-md-4" th:each="post: ${posts}" th:id="'post-' + ${post.postId}">
                    <a th:href="@{/posts_detail}">
                    <div class="card mb-4">
                        <img th:src="@{'/resources/img/users/' + ${post.user.username} + '/' + ${post.photo}}">
                    </div>
                    </a>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer th:insert="fragments.html :: footer"></footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="../resources/js/bootstrap.bundle.min.js"></script>

    </body>
</html>