<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">Stogram - Просмотр поста</title>
</head>

<script th:inline="javascript">var contextPath = [[${#httpServletRequest.getContextPath()}]];</script>
<script type="text/javascript" th:src="@{/resources/js/delete-post.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.0.min.js}"></script>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post" th:object="${post}">
                <input type="hidden" th:field="*{postId}"/>
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img th:if="${userinfo.photo == null}" th:src="@{'/resources/img/icons/avatar.jpg'}" alt="">
                            <img th:unless="${userinfo.photo == null}" th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt="">
                            <!-- FIXME В ${user} заменить на post.user.username. Проверить везде и затем на самих страницах поменяв пользователя -->
                        </div>
                        <p class="username" th:text="${post.user.username}"></p>
                    </div>
                    <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/delete_one_post(postId = ${post.postId})}"><img th:src="@{/resources/img/nav/delete.png}" class="options" alt=""></a>
                    <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/edit(postId = ${post.postId})}"><img th:src="@{/resources/img/nav/option.png}" class="options" alt=""></a>
                </div>
                <img th:if="${post.extFile == 'png' || post.extFile == 'jpg'}" th:src="@{'/resources/img/users/' + ${post.user.username} + '/' + ${post.photo}}" class="post-image" alt="">
                <video th:if="${post.extFile == 'mp4' || post.extFile == 'mov'}" width="100%" autoplay controls loop muted>
                    <source th:src="@{'/resources/video/users/' + ${post.user.username} + '/' + ${post.photo}}" type=video/mp4>
                </video>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <a th:if="${isLike != 0}" th:href="@{/unlike/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/icons/like.png}" class="icon" alt="">
                        </a>
                        <a th:if="${isLike == 0}" th:href="@{/like/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/icons/notlike.png}" class="icon" alt="">
                        </a>
                        <a th:href="@{/comment/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/nav/comment.png}" class="icon" alt="">
                        </a>
                    </div>
                    <p th:if="${countLikes != 0}" class="likes" th:text="'Нравится: ' + ${countLikes}"></p>
                    <b class="description">
                        <span th:text="${post.user.username}"></span>
                    </b>
                    <span class="description" th:text="${post.content}"></span>
                    <p class="post-time" th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy')} + ' г.'"></p>

                    <!-- Comments -->
                    <div class="view-source comments-view">
                        <a th:href="@{/comment/sub/{postId}(postId = ${post.postId})}" th:each="like, state : ${post.comments}" class="description comments" th:text="${state.last} ? 'Смотреть все комментарии (' + ${state.count} + ')' : ''"></a>
                    </div>
                </div>

                <!-- Comments Form -->
                <div sec:authorize="hasAnyRole('USER')">
                    <form class="comment-wrapper" method="POST" th:action="@{/comment/create}">
                        <input type="hidden" name="postId" th:value="${post.postId}" />
                        <div class="info-view">
                            <div class="user">
                                <img th:src="@{/resources/img/nav/smile.png}" class="icon" alt="">
                            </div>
                        </div>
                        <input type="text" class="comment-box description" name="commentText"  th:placeholder="'Комментировать как ' + ${user} + '...'">
                        <br>
                        <button class="comment-btn">Опубликовать</button>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>

        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>

    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>