<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">Stogram - Посты</title>
</head>

<script th:inline="javascript">var contextPath = [[${#httpServletRequest.getContextPath()}]];</script>
<script type="text/javascript" th:src="@{/resources/js/delete-post.js}"></script>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post" th:each="post: ${posts}" th:id="'post-' + ${post.postId}" th:name="'post-' + ${post.postId}">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <a th:href="@{/sub-posts/{user}(user = ${post.user.username})}">
                            <img th:src="@{'/resources/img/users/' + ${user_sub} + '/profile/' + ${userinfo_sub.photo}}" alt=""></div>
                        <p class="username" th:text="${post.user.username}"></p></a>
                    </div>
                    <a th:if="${#authentication.name == post.user.username or #authorization.expression('hasRole(''ADMIN'')')}" th:onclick="'deletePost(\'' + ${post.postId} + '\');'">
                        <img th:src="@{/resources/img/nav/delete.png}" class="delete" alt="">
                    </a>
                    <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/edit(postId = ${post.postId})}">
                        <img th:src="@{/resources/img/nav/option.png}" class="options" alt="">
                    </a>
                </div>
                <a th:href="@{/post-view-sub/{postId}(postId = ${post.postId})}">
                    <img th:if="${post.extFile == 'png' || post.extFile == 'jpg'}" th:src="@{'/resources/img/users/' + ${post.user.username} + '/' + ${post.photo}}" class="post-image" alt="">
                    <video th:if="${post.extFile == 'mp4' || post.extFile == 'mov'}" width="100%" autoplay controls loop muted>
                        <source th:src="@{'/resources/video/users/' + ${post.user.username} + '/' + ${post.photo}}" type=video/mp4>
                    </video>
                </a>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <div th:if="${!post.postLike.isEmpty()}">
                            <div th:each="likes, state : ${post.postLike}">
                                <div th:if="${likes.userLikeId.username.equals(userinfo.username)}">
                                    <a th:href="@{/unlike_detail_subuser/{user}/{postId}(postId = ${post.postId}, user = ${post.user.username})}">
                                        <img th:src="@{/resources/img/icons/like.png}" class="icon" alt="">
                                    </a>
                                </div>
                                <div th:if="${!likes.userLikeId.username.equals(userinfo.username) && state.size > 0 && state.last}">
                                    <a th:href="@{/like_detail_subuser/{user}/{postId}(postId = ${post.postId}, user = ${post.user.username})}">
                                        <img th:src="@{/resources/img/icons/notlike.png}" class="icon" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${post.postLike.isEmpty()}">
                            <a th:href="@{/like_detail_subuser/{user}/{postId}(postId = ${post.postId}, user = ${post.user.username})}">
                                <img th:src="@{/resources/img/icons/notlike.png}" class="icon" alt="">
                            </a>
                        </div>
                        <a th:href="@{/comment/sub/{postId}(postId = ${post.postId})}">
                            <img th:src="@{/resources/img/nav/comment.png}" class="icon" alt="">
                        </a>
                    </div>
                    <p th:each="like, state : ${post.postLike}" class="likes" th:text="${state.last} ? 'Нравится: ' + ${state.count} : ''"></p>
                    <b class="description">
                        <span th:text="${post.user.username}"></span>
                    </b>
                    <span class="description-normal" th:text="${post.content}"></span>
                    <p class="post-time" th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy')} + ' г.'"></p>

                    <!-- Comments -->
                    <div class="view-source comments-view">
                        <a th:href="@{/comment/sub/{postId}(postId = ${post.postId})}" th:each="like, state : ${post.comments}" class="description comments" th:text="${state.last} ? 'Смотреть все комментарии (' + ${state.count} + ')' : ''"></a>
                    </div>
                </div>

                <!-- Comments Form -->
                <div sec:authorize="hasAnyRole('USER')">
                    <form class="comment-wrapper" method="GET" th:action="@{/comment/create_comment_detail_subuser/{user}(user = ${user_sub})}">
                        <input type="hidden" name="postId" th:value="${post.postId}" />
                        <div class="info-view">
                            <div class="user">
                                <img th:src="@{/resources/img/nav/smile.png}" class="icon" alt="">
                            </div>
                        </div>
                        <input type="text" class="comment-box description" name="commentText"  th:placeholder="'Комментировать как ' + ${user} + '...'">
                        <br>
                        <button class="comment-btn">Опубликовать</button>
                    </form>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>

        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

</body>
</html>