<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="fragments.html :: header">
        <title id="pageTitle">Stogram - Редактирование поста</title>
    </head>

    <!-- Navigation -->
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation"></nav>

        <!-- Page Content -->
        <br>
        <br>
        <div class="container">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-8">
                    <form method="POST" th:action="@{/post/edit}" th:object="${post}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" th:field="*{postId}"/>
                            <br>
                            <img th:src="@{'/resources/img/users/' + ${user} + '/' + ${post.photo}}" th:height="600px">
                            <br><br>
                            Выберите новое фото для загрузки: <input type="file" name="file">
                            <br>
                            <br>
                            <textarea th:field="*{content}" class="form-control" rows="4" placeholder="Введите текст поста"></textarea>

                        </div>
                        <br>
                        <button type="submit" class="btn btn-outline-dark">Отредактировать пост</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer th:insert="fragments.html :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
</html>