<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:include="fragments.html :: header">
        <title id="pageTitle">Stogram - Главная</title>
    </head>

    <script th:inline="javascript">var contextPath = [[${#httpServletRequest.getContextPath()}]];</script>
    <script type="text/javascript" th:src="@{/resources/js/delete-post.js}"></script>

    <!-- Navigation -->
    <body>
        <nav class="navbar" th:insert="fragments.html :: navigation"></nav>


        <!-- Page Content -->

        <section class="main">
            <div class="wrapper">
                <div class="left-col">
                    <div class="status-wrapper">
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_1</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 2.png}" alt=""></div>
                            <p class="username">user_name_2</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 3.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                        <div class="status-card">
                            <div class="profile-pic"><img th:src="@{/resources/img/nav/cover 1.png}" alt=""></div>
                            <p class="username">user_name_3</p>
                        </div>
                    </div>

                    <div class="post" th:each="post: ${posts}" th:id="'post-' + ${post.postId}">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt=""></div>
                                <p class="username" th:text="${post.user.username}"></p>
                            </div>
                            <a th:if="${#authentication.name == post.user.username or #authorization.expression('hasRole(''ADMIN'')')}" th:onclick="'deletePost(\'' + ${post.postId} + '\');'"><img th:src="@{/resources/img/nav/delete.png}" class="options" alt=""></a>
                            <a th:if="${#authentication.name == post.user.username}" th:href="@{/post/{postId}/edit(postId = ${post.postId})}"><img th:src="@{/resources/img/nav/option.png}" class="options" alt=""></a>
                        </div>
                        <a th:href="@{/post/{postId}(postId = ${post.postId})}">
                        <img th:src="@{'/resources/img/users/' + ${post.user.username} + '/' + ${post.photo}}" class="post-image" alt="">
                        </a>
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img th:src="@{/resources/img/nav/like.png}" class="icon" alt="">
                                <a th:href="@{/comment/{postId}(postId = ${post.postId})}"><img th:src="@{/resources/img/nav/comment.png}" class="icon" alt=""></a>
                                <img th:src="@{/resources/img/nav/send.png}" class="icon" alt="">
                                <img th:src="@{/resources/img/nav/save.png}" class="save icon" alt="">
                            </div>
                            <p class="likes">1,012 likes</p>
                            <b class="description"><span th:text="${post.user.username}"></span></b>
                            <span class="description-normal" th:text="${post.content}"></span>
                            <p class="post-time" th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy')} + ' г.'"></p>

                            <!-- Comments -->
                            <div class="view-source comments-view">
                            <!-- FIXME <a href="#" class="description comments" th:text="'Смотреть все комментарии (' + ${countComments} + ')'"></a> -->
                                <b class="description" th:text="'Комментарии:'"></b>
                                <div class="hide">
                                    <div th:each="comment: ${post.comments}">
                                        <div class="media-body">
                                            <div class="info-comments">
                                                <div class="user-comments">
                                                    <div class="profile-pic-comments"><img th:src="@{'/resources/img/users/' + ${comment.user.username} + '/profile/' + ${comment.user.photo}}" alt=""></div>
                                                    <div>
                                                        <b class="description-comments-user"><span th:text="${comment.user.username}"></span></b>
                                                        <span class="description-comments" th:text="${comment.content}"></span>
                                                        <div>
                                                            <p class="post-time-comments" th:text="${#temporals.format(comment.createdAt, 'dd.MM.yyyy HH:mm')} + ' ' + 'Ответить'"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comments Form -->
                        <div sec:authorize="hasAnyRole('USER')">
                            <form class="comment-wrapper" method="POST" th:action="@{/comment/create_comment_detail}">
                                <input type="hidden" name="postId" th:value="${post.postId}" />
                                <div class="info-view">
                                    <div class="user">
                                        <div class="profile-pic"><img th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt=""></div>
                                    </div>
                                </div>
                                <input type="text" class="comment-box description" name="content"  th:placeholder="'Комментировать как ' + ${user} + '...'">
                                <br>
                                <button class="comment-btn">Опубликовать</button>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="right-col">
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt="">
                        </div>
                        <div>
                            <p class="username" th:text="${user}"></p>
                            <p class="sub-text"></p>
                        </div>
                        <button class="action-btn">Переключиться</button>
                    </div>
                    <p class="suggestion-text">Рекомендации для вас</p>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{/resources/img/nav/cover 9.png}" alt="">
                        </div>
                        <div>
                            <p class="username">modern_web_channel</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">Подписаться</button>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{/resources/img/nav/cover 10.png}" alt="">
                        </div>
                        <div>
                            <p class="username">modern_web_channel</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">Подписаться</button>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{/resources/img/nav/cover 11.png}" alt="">
                        </div>
                        <div>
                            <p class="username">modern_web_channel</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">Подписаться</button>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{/resources/img/nav/cover 12.png}" alt="">
                        </div>
                        <div>
                            <p class="username">modern_web_channel</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">Подписаться</button>
                    </div>
                    <div class="profile-card">
                        <div class="profile-pic">
                            <img th:src="@{/resources/img/nav/cover 13.png}" alt="">
                        </div>
                        <div>
                            <p class="username">modern_web_channel</p>
                            <p class="sub-text">followed bu user</p>
                        </div>
                        <button class="action-btn">Подписаться</button>
                    </div>
                </div>
            </div>

        </section>


        <!-- Footer -->
        <footer th:insert="fragments.html :: footer"></footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

    </body>
</html>