<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header-add-img">
    <title id="pageTitle">Stogram - Новый пост</title>
</head>

<!-- Navigation -->
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" th:insert="fragments.html :: navigation-add-img"></nav>

<!-- Page Content -->
<section class="main-post">
    <div class="wrapper-posts">
        <div class="left-col">
            <form method="POST" th:action="@{/post/newImage}" enctype="multipart/form-data">
                <textarea id="blob-img" name="file" class="form-control" rows="4" placeholder="" style="display:none;"></textarea>
                <div>
                    <img id="profilePicture" th:src="@{/resources/img/icons/upload.png}" src="" alt="" data-target="#profileImageModal" data-toggle="modal">
                </div>

                <!-- Modal Window -->
                <div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Загрузка изображения</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="thumbimg ">
                                        <input type="file" name="image" id="image" style="display:none;" accept="image/png, image/gif, image/jpeg">
                                        <button type="button" onclick="image.click();" class="btn st-cropper-select-btn btn-secondary btn-md">Выберите изображение</button>
                                        <div class="showimg  d-flex justify-content-center pt-3" >
                                            <div class="row imgdiv" id="imgdiv" style="" >
                                                <img id="imagecan">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" onclick="onClickUpload()" class="btn btn-primary st-cropper-upload-btn btn-md">Загрузить
                                    <i class="fa fa-spinner fa-spin showloading" style="color:white; font-size:12px; display:none;  position:absolute; margin-left: 3px; margin-top: 4px;"></i>
                                </button>
                                <button type="button" class="btn btn-secondary btn-md st-cropper-close-btn" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Window End -->

                <textarea name="content" class="profile-box description" rows="4" placeholder="Введите текст поста"></textarea>
                <br>
                <button type="submit" class="btn btn-outline-dark">Опубликовать пост</button>
            </form>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>
        </div>
    </div>
</section>


<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.0/cropper.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/crop.js}"></script>
</body>
</html>