<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">Stogram - Ваши подписки</title>
</head>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">

            <!-- Subscriptions -->
            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo">Ваши подписки</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-content">
                    <div class="view-source comments-view">
                        <div th:each="subs: ${sub}">
                            <div class="media-body">
                                <div class="info-comments">
                                    <div class="user-comments">
                                        <div class="profile-card">
                                            <div class="profile-pic-comments">
                                                <a th:href="@{/sub-posts/{user}(user = ${subs.subUserId.username})}">
                                                    <img th:if="${subs.subUserId.photo == null}" th:src="@{'/resources/img/icons/avatar.jpg'}" alt="">
                                                    <img th:unless="${subs.subUserId.photo == null}" th:src="@{'/resources/img/users/' + ${subs.subUserId.username} + '/profile/' + ${subs.subUserId.photo}}" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <b class="description-comments-user"><span th:text="${subs.subUserId.username}"></span></b>
                                                <div>
                                                    <p th:if="${subs.subUserId.surname != null && subs.subUserId.firstname != null}" class="post-time-comments" th:text="${subs.subUserId.surname} + ' ' + ${subs.subUserId.firstname}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${sub.isEmpty()}">
                            <p class="usersNotFound"  th:text="'У вас нет подписок'"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recomendations -->
            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo">Рекомендации для вас</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-content">
                    <div class="view-source comments-view">
                        <div th:each="users: ${userOnlyList}">
                            <div class="media-body">
                                <div class="info-comments">
                                    <div class="user-comments">
                                        <div class="profile-card">
                                            <div class="profile-pic-comments">
                                                <a th:href="@{/sub-posts/{user}(user = ${users.username})}">
                                                    <img th:if="${users.photo == null}" th:src="@{'/resources/img/icons/avatar.jpg'}" alt="">
                                                    <img th:unless="${users.photo == null}" th:src="@{'/resources/img/users/' + ${users.username} + '/profile/' + ${users.photo}}" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <b class="description-comments-user"><span th:text="${users.username}"></span></b>
                                                <div>
                                                    <p th:if="${users.surname != null && users.firstname != null}" class="post-time-comments" th:text="${users.surname} + ' ' + ${users.firstname}" ></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer th:insert="fragments.html :: footer"></footer>

        </div>

        <!-- Right Column -->
        <div th:insert="fragments.html :: right-column"></div>

    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>