<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">
    <title id="pageTitle">Stogram - Пользователи</title>
</head>

<script type="text/javascript" th:src="@{/resources/js/delete-post.js}"></script>

<!-- Navigation -->
<body>
<nav class="navbar" th:insert="fragments.html :: navigation"></nav>

<!-- Page Content -->
<section class="main">
    <div class="wrapper">
        <div class="left-col">

            <div class="post">
                <div class="info">
                    <div class="user">
                        <p class="comments-logo">Пользователи</p>
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="post-content">

                    <!-- Users -->
                    <div class="view-source comments-view">
                       <div th:each="users: ${userslist}">
                          <div class="media-body">
                             <div class="info-comments">
                                 <div class="user-comments">
                                     <div class="profile-card">
                                         <div class="profile-pic-comments">
                                             <a th:href="@{/sub-posts/{user}(user = ${users.username})}">
                                                 <img th:src="@{'/resources/img/users/' + ${users.username} + '/profile/' + ${users.photo}}" alt="">
                                             </a>
                                         </div>
                                         <div>
                                             <b class="description-comments-user"><span th:text="${users.username}"></span></b>
                                             <div>
                                                 <p class="post-time-comments" th:text="${users.firstname} + ' ' + ${users.surname}"></p>
                                             </div>
                                         </div>
                                         <button class="action-btn">Подписаться</button>
                                     </div>
                                 </div>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{'/resources/img/users/' + ${user} + '/profile/' + ${userinfo.photo}}" alt="">
                </div>
                <div>
                    <p class="username" th:text="${user}"></p>
                    <p class="sub-text"></p>
                </div>
                <button class="action-btn">Переключиться</button>
            </div>
            <p class="suggestion-text">Рекомендации для вас</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{/resources/img/nav/cover 9.png}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">Подписаться</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{/resources/img/nav/cover 10.png}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">Подписаться</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{/resources/img/nav/cover 11.png}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">Подписаться</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{/resources/img/nav/cover 12.png}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">Подписаться</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img th:src="@{/resources/img/nav/cover 13.png}" alt="">
                </div>
                <div>
                    <p class="username">modern_web_channel</p>
                    <p class="sub-text">followed bu user</p>
                </div>
                <button class="action-btn">Подписаться</button>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer th:insert="fragments.html :: footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>